<nav class="navbar">
  <div class="navbar-left">
    <h2 class="logo">
      <img src="/assets/logo2.png" alt="Logo" class="logo-icon">
      Signéo
    </h2>
  </div>

 <div class="navbar-center">
  <div class="nav-link-box">
    <a class="nav-link" routerLink="/sign">LexiSignes</a>
      <div class="underline"></div>

  </div>
  <div class="nav-link-box">
    <a class="nav-link" routerLink="/quiz">Quiz</a>
      <div class="underline"></div>

  </div>
</div>
  <div class="navbar-right">
    <button class="btn-outline" routerLink="/signin">Se connecter</button>
    <button class="btn-filled" routerLink="/signup">S’inscrire</button>
  </div>
</nav>


<!-- HERO -->
<section class="hero">
  <div class="jumbotron">
    <h1><b>Apprenez la langue des signes facilement</b></h1>
    <p>Explorez des tests interactifs et améliorez votre communication </p>
    <button class="btn-primary" routerLink="/sign">Commencer à apprendre</button>
  </div>
</section>
<footer class="footer">
  <p>© 2025 Signéo — Tous droits réservés</p>
  <p>
    Contact : <a href="support@signeo.com">support@signeo.com</a>
  </p>
</footer>